*{
	text-align: center;
}
h1{
	color: white;
}
h2{
	color: lightyellow;
}
h3{
	color: white;
}
body{
	background-image: url(https://wallpapercave.com/wp/v0N5WKw.jpg);
	background-size: contain;
    }

